<div class="login-auth-page">
    <div class="login-auth-wrapper">
        <h3 class="logo-ftp">Registrar usuario</h3>
        <form (ngSubmit)="register()" [formGroup]="formLogin" class="login-auth-form" autocomplete="off">
            <div class="form-group">
                <label for="username">Nombre de usuario</label>
                <input formControlName="username" required type="text" placeholder="Nombre de usuario" class="form-input">
            </div>
            <div class="form-group">
                <label for="email">Correo Electrónico</label>
                <input formControlName="email" required type="email" placeholder="Dirección de correo" class="form-input">
            </div>
            <div class="form-group">
                <label for="password">Contraseña</label>
                <input formControlName="password" formControlName="password" required type="password" placeholder="Contraseña" class="form-input">
            </div>
            <div class="form-group">
                <label for="role">Rol</label>
                <mat-form-field appearance="fill">
                    <mat-label>Rol</mat-label>
                    <mat-select [formControl]="toppings" multiple>
                      <mat-select-trigger>
                        {{toppings.value?.[0] || ''}}
                        <span *ngIf="(toppings.value?.length || 0) > 1" class="example-additional-selection">
                          (+{{(toppings.value?.length || 0) - 1}} {{toppings.value?.length === 2 ? 'other' : 'others'}})
                        </span>
                      </mat-select-trigger>
                      <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <p>{{toppings.value}}</p>
            </div>
            <div class="form-group">
                <label for="clients">Clientes</label>
                <div mat-button (click)="openDialog()" class="clients">Asignar clientes</div>
            </div>
            <div class="form-action">
                <button [disabled]="!formLogin.valid" class="login-btn login social-btn">Registrar Usuario</button>
            </div>
        </form>
    </div>
  </div>
  