<header>
  <h1 class="logo-ftp">FTP AsTrans</h1>
  <ul>
    <li class="username">{{username}}</li>
    <li class="middle-li">
      <label for="client">Cliente: </label>
        <select ngModel (ngModelChange)="sendData($event)" name="client" id="client" [(ngModel)]="selected">
          <option *ngFor="let client of clients" value="{{client}}">
              {{client}}
          </option>
        </select>
    </li>
    <li>
      <button>
        Salir <i class="uil uil-signout"></i>
      </button>
    </li>
  </ul>
</header>
