<!-- 
<div>
    <ul>
        <li *ngFor="let client of data">{{client.cliente}} - {{client.clienteNumero}}</li>
    </ul><br>
    <button (click)="close()">Aceptar</button>
</div> -->


<form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Assignee</mat-label>
      <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option.clienteNumero">
          {{option.cliente}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>